body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(216, 255, 253);
    color: rgb(17, 141, 249);
}
ul{
    text-align: center;
    background-color: rgb(30, 117, 194);
}
h1{
    font-size: 38px;
}
p{
   font-size: 22px; 
   color: white;
}
a{
    font-size: 18px; 
    color: white;
}
